.container{
background-color: lightblue;
    border-radius: 10%;
    margin-top: 30px;
    margin-left: 150px;
    
}
input[type=text] , input[type=password]{
    
    width: 250px;
    
    border: 1px solid #ccc;
    
}
.login{
    padding: 5px;
}
button {
  
  width: 150px;
    border-radius: 20px;
}
img{
    border-radius:50%;
    width: 250px;
    height: 250px;
}
h1{
    font-family: cursive;
}

